
/* About Me Page */

body {

    background-image: url("images/bubble.jpg");
    
    /* Background vector created by freepik - www.freepik.com</a>") */
}

h2 {
    border-bottom: 2px solid rgb(95, 95, 95);
}

.aboutme {

    padding-bottom: 20px;
    
}

.bodycontainer {
    background-color: #ffffff;
    margin-top: 20px;
    
}
.container {
    max-width: 960px;
    
}
img {
    height: 400px;
    width: 300px;
    padding-right: 20px;
}
.boldtext {

    font-weight: bolder;
}
.footertext {

    text-align: center;
}

/* Portfolio Page */


/* Contact Page */

* { 
    box-sizing: border-box;
  }

  label {
    margin-top: 10px;
     margin-bottom: 0px;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    /* margin-top: 6px; */
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .column {
    padding-left:8px;
    margin-bottom: 10px;
  }
  
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }